html {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    background-color: #363636;
}

html, 
body {
    color: var(--font-color);
}

:root {
    --font-color: white;
}

body {
    
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto 5em;
    z-index: 1000;
}

h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
}

.about-me-picture {
    height: 100%;
}

.nav-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
}

.nav-item {
    margin: .5em;
}

.landing-page-container {
    
    display: flex;
}

.about-me-container {
    display: flex;
    align-items: center;
}

.about-me-text-container {
    margin-right: 16px;
}

.line {
    width: 60px;
    height: 3px;
    border-bottom: 2px solid orange;
}

#contact-button {
    color: orange;
    font-size: 1.5em;
    font-weight: bold;
}

#landing-page-banner {
    background-color: black;
}

#landing-page-background {
    display: flex;
}

#projects {
    margin: 3em auto;
}

#skills {
    color: var(--font-color);
}

#skills-container {
    font-size: 3em;
    display: flex;
    justify-content: space-between;
}

#nav-bar-name {
    font-size: 2em;
    font-weight: bold;
    justify-self: auto;
}

#text-above-banner-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.75em;
    color: orange;
}

#about-me,
#projects,
#skills,
.landing-page-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}